# When a tag in the format x.y.z is pushed, this workflow will build the project,
# create a GitHub release and upload the distribution to Maven Central.
name: Release

on:
  push:
    tags:
      - "*.*.*"

jobs:
  build:
    permissions:
      contents: write
      discussions: write
    runs-on: ubuntu-latest
    env:
      ORG_GRADLE_PROJECT_signingKey : ${{ secrets.SIGNING_KEY }}
      ORG_GRADLE_PROJECT_signingPassword : ${{ secrets.SIGNING_PASSWORD }}
    steps:
      - name: Check-out repo
        uses: actions/checkout@v4
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: "17"
          distribution: "temurin"
          cache: gradle
      - name: Set version
        run: echo -e "\nversion=$GITHUB_REF_NAME" >> gradle.properties
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew
      - name: Build distribution
        run: ./gradlew :kinegram-emrtd-connector:generateDistributionZip
      - name: Archive distribution
        uses: actions/upload-artifact@v4
        with:
          name: distribution
          path: kinegram-emrtd-connector/build/distributions/kinegram-emrtd-connector.zip
  create-github-release:
    needs: build
    permissions:
      contents: write
      discussions: write
    runs-on: ubuntu-latest
    steps:
      - name: Check-out repo
        uses: actions/checkout@v4
      - name: Extract Changes from CHANGELOG.md
        run: |
          CHANGES=$(awk -v version="## $GITHUB_REF_NAME" '{
             if ($0 ~ "^## " && found) exit;
             if (found) print;
             if ($0 == version) found=1;
          }' CHANGELOG.md)
          if [ -n "$CHANGES" ]; then
            echo -e "### Changes\n$CHANGES" > "CHANGELOG-$GITHUB_REF_NAME.md"
          else
            echo "No changes found for version $GITHUB_REF_NAME."
          fi
      - name: Github Release
        uses: softprops/action-gh-release@v1
        with:
          body_path: "CHANGELOG-${{ github.ref_name }}.md"
          body: ""
  # Currently there is no official Gradle plugin to publish artifacts to the new Central Portal, so
  # we have to do it manually using the Publisher API.
  upload-distribution-to-central-portal:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Download distribution artifact
        uses: actions/download-artifact@v4
        with:
          name: distribution
      - name: Upload Artifact
        run: |
          curl --request POST \
            --verbose \
            --fail-with-body \
            --header 'Authorization: Bearer ${{secrets.SONATYPE_TOKEN}}' \
            --form bundle=@kinegram-emrtd-connector.zip \
            "https://central.sonatype.com/api/v1/publisher/upload?publishingType=AUTOMATIC&name=com.kinegram.android:emrtdconnector:$GITHUB_REF_NAME"
